table {
  width: auto;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

button {
  margin-left: 5px;
}

.manager-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.manager-delete-button {
  margin-left: auto;
}

.manager-add-button {
  margin-left: 10px;
}
